.header {
  // display: flex;
  // align-items: center;
  height: 50px;
  background-color: #1F2640;
  position: fixed;
  width: 100%;

  .logo {
    height: 50px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 40px;

    .logo {
      height: 40px;
    }
  }
}