.app {
  font-size: 13px;
  height: 100vh;
  overflow-y: auto;

  .app-container {
    margin-top: 90px;
  }

  .header,
  .home {
    > .main-wrapper {
      width: 80%;
      margin: auto;
    }
  }

  .meta {
    color: gray;
    font-size: 0.8em;
  }

  .half-breathing-space {
    &.right-only {
      margin-right: 0.5em;
    }
  }
}

@media (max-width: 768px) {
  .app {
    .header,
    .home {
      > .main-wrapper {
        width: 95%;
        margin: auto;
      }
    }
  }
}